:root {
  --text-color: #111;

  --border-color: #ddd;

  --state-error: #dc3545;
  --state-error-light: #f8d7da;
  --state-success: #28a745;
  --state-warning: #ffc107;
  --state-info: #0dcaf0;
  --state-disabled: #f5f5f5;
  --state-focus: #4a90e2;
  --state-focus-light: #cfe2ff;
}
